body {
    background-color:blueviolet;
}

.m-0 {
    color: chartreuse;
    font-weight: bold;
}

.card-footer {
    background-color:chartreuse;
    font-weight: bold;
    text-decoration: none;
}

.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}
